pip>=23.1.0
{%- if cookiecutter.use_black == 'y' %}
black>=23.12.0
{%- endif %}
bump2version>=0.5.11
coverage>=4.5.4
click>=7.1.2
cruft
flake8
nbval>=0.10.0
{%- if cookiecutter.use_pytest == 'y' %}
pytest>=8.0.0
pytest-cov
pytest-flake8
pytest-notebook
{%- endif %}
ruff>=0.3.5
sphinx>=7.0.0
tox>=4.14.0
twine>=5.0.0
watchdog>=4.0.0
wheel>=0.33.6
