pip>=19.2.3
{%- if cookiecutter.use_black == 'y' %}
black>=21.7b0
{%- endif %}
bump2version>=0.5.11
coverage>=4.5.4
click>=7.0
cruft
flake8
nbval>=0.9.6
{%- if cookiecutter.use_pytest == 'y' %}
pytest>=6.2.4
pytest-cov
pytest-flake8
pytest-notebook
{%- endif %}
sphinx>=1.8.5
tox>=4.0
twine>=1.14.0
wheel
