name: Build ⚙️

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  # For a given workflow, if we push to the same branch, cancel all previous builds on that branch except on main.
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tox-env: py310
            python-version: "3.10"
          - tox-env: py311
            python-version: "3.11"
          - tox-env: py312
            python-version: "3.12"
          - tox-env: py313
            python-version: "3.13"
          - tox-env: pypy311
            python-version: "pypy-3.11"
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install CI dependencies
        run: |
          python -m pip install --require-hashes -r CI/requirements_ci.txt
      - name: Test with pytest and tox ⚙️
        run: |
          python -m tox -e ${{ matrix.tox-env }}
